{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    Pulse <a href="{{path('homepage')}}">aqui</a> para entrar en su cuenta.
    <br>
    {{form_star(form)}}
        {{form_row(form.username)}}
        {{form_row(form.email)}}
        {{form_row(form.plainPassword.first)}}
        {{form_row(form.plainPassword.second)}}
    {{form_end(form)}}
{% endblock %}
